* {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 150px;
}

.description {
    font-size: 20px;
}

#cook-time {
    font-weight: bold;
    font-size: 20px;
}

#cook-time a {
    font-weight: normal;
}

.ingredients li {
    list-style: square;
}

p.time {
    color: #fff;
    background-color: grey;
    opacity: 0.7;
    border-style: groove;
    border-color: #21400F;
    border-width: 6px;
    text-align: center;
    border-radius: 3%;
    max-width: 150px;
}

a.external-link {
    color: seagreen;
}

.ingredients a {
    opacity: 0.8;
    text-decoration: underline;
    font-style: italic;
}

#vol {
    accent-color: #3B731A;
}